#blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 1, 38, 0.789);
    color: white;
    font-family: "Serif", "Georgia", monospace;
}

#instructions {
    position: fixed;
    /* width: 1000px; */
    /* height: 1000px;
    margin: auto;
    width: 50%;
    padding: 10px; */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: -50px 0 0 -50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* top: -80%; */
    font-size: 25px;
    color: white;
    font-family: "Serif", "Georgia", monospace;
    cursor: pointer;
    
}


#lost {
    position: fixed;
    /* width: 1000px; */
    /* height: 1000px;
    margin: auto;
    width: 50%;
    padding: 10px; */
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 40%;
    margin: -50px 0 0 -50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    /* top: -80%; */
    font-size: 25px;
    color: white;
    font-family: "Serif", "Georgia", monospace;
    cursor: pointer;
    
}




.dropbtn {
    min-width: 160px;
    background-color: #F3DEFF;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 10%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
    text-align: center;
}

.button {
    min-width: 160px;
    background-color: #F3DEFF;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 75%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
}

.unPauseButton {
    min-width: 160px;
    background-color: #F3DEFF;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 45%;
    top: 50%;
    font-family: "Serif", "Georgia", monospace;
}




.greenText {
    min-width: 160px;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 10%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
    background-color: green;
    text-align: center;
}

.blueText {
    min-width: 160px;

    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 10%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
    background-color: rgb(255, 191, 0);
    text-align: center;
}

.redText {
    min-width: 160px;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 10%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
    background-color: red;
    text-align: center;
}

/* .greyText {
    min-width: 160px;
    color: black;
    padding: 16px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 10%;
    top: 60%;
    font-family: "Serif", "Georgia", monospace;
    background-color: rgba(97, 89, 89, 0.637);
} */